/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #E6E6FA; /* Color morado claro para toda la página */
    font-family: 'Roboto', sans-serif; /* Se usa la fuente Roboto */
    display: flex; /* Se usa flexbox para centrar */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Se centra verticalmente */
    height: 100vh; /* Se ocupa toda la altura de la ventana */
    margin: 0; /* Se eliminan las márgenes por defecto */
}

.App {
    text-align: center; /* Se centra texto dentro de la aplicación */
}

.App h1 {
    color: purple; /* Color de la letra */
    font-size: 2rem; /* Tamaño de la letra */
    background-color: #D3D3D3; /* Fondo platinado */
    padding: 10px; /* El espaciado alrededor del texto */
    border-radius: 5px; /* Los bordes redondeados */
}

button {
    margin: 5px; /* El espaciado entre botones */
    padding: 10px 20px; /* El espaciado dentro de los botones */
    font-size: 1rem; /* Tamaño de la letra de los botones */
    cursor: pointer; /* Se cambia el cursor al pasar sobre el botón */
}
